DB_URL=jdbc:mysql://localhost:3306/training_platform_v1?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=training_user
DB_PASSWORD=training_password
ADMIN_DEFAULT_PASSWORD=ChangeMe123!
